{{ $s := .section }}

<div class="milestone-col">
  <h3 class="milestone-col-title">{{ .title }}</h3>

  {{ if not $s }}
    <p class="milestone-empty">No milestones folder found.</p>
  {{ else }}

    {{/* Group within the column by year */}}
    {{ range ($s.RegularPages.ByDate.Reverse).GroupByDate "2006" }}
      <div class="post-group">
        <h4>{{ .Key }}</h4>
        <ul>
          {{ range .Pages }}
            {{ $p := . }}
            <li class="milestone-li">
              <a class="milestone-item"
                href="{{ with $p.Params.link }}{{ . }}{{ else }}{{ $p.RelPermalink }}{{ end }}">
                  <span class="milestone-title">{{ $p.Title }}</span>
                  {{ with $p.Params.image }}
                    <img class="milestone-thumb" src="{{ . | relURL }}" alt="Thumbnail for {{ $p.Title }}">
                {{ end }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  {{ end }}
</div>